#!/usr/bin/env bash

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# ssh
eval "$(ssh-agent -s)"
ssh-add -K ~/.ssh/id_rsa

# java version "11.0.2"
export JAVA_HOME=/Library/Java/JavaVirtualMachines/openjdk-11.0.2.jdk/Contents/Home
export PATH=$JAVA_HOME/bin:$PATH

# Android
export ANDROID_HOME=/Users/abyss/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools

# vscode use 'code' in command line
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# brew doctor
export PATH="/usr/local/sbin:$PATH"

# openssl 1.1
export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"

# 启动会很慢, 可以单独使用'se'激活额外的环境
# source ./extras